@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap');

:root {
    --primary-color: #BA9C60;
    --background-color: #232325;
    --black: #0A0A0C;
    --text-color: rgb(160, 160, 160);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--background-color);
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    height: 65px;
    align-items: end;
    padding: 0 2rem;
    display: none;
}

header .logo {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

header ul {
    list-style: none;
    display: flex;
    margin-left: 4rem;
}

header ul a {
    text-decoration: none;
    color: rgb(209, 209, 209);
    padding: 0 15px;
    font-size: .85rem;
}

header ul a:hover {
    color: var(--primary-color)
}

nav {
    position: fixed;
    top: 22%;
    right: 0;
    width: 65px;
    height: 300px;
    background-color: var(--black);
    z-index: 9;
}

nav .menu {
    width: 65px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    height: 100%;
    color: var(--text-color);
    font-size: .5rem;
}

nav .menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .menu div h3 {
    margin-bottom: 9px;
}

.icon-menu {
    color: var(--text-color) !important;
}

nav .menu div h3 {
    color: var(--text-color);
    font-size: .7rem;
    font-weight: 500;

}

#sculptures {
    width: 100%;
}

#sculptures .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sculptures .content figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5rem;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 120px solid transparent;
    border-right: 380px solid var(--primary-color);
    border-bottom: 330px solid transparent;
    position: relative;
}

.inner-triangle {
    width: 0;
    height: 0;
    border-top: 110px solid transparent;
    border-right: 365px solid var(--background-color);
    border-bottom: 320px solid transparent;
    position: absolute;
    top: -110px;
    left: 10px;
}

.inner-triangle img {
    position: relative;
    top: -260px;
    left: -50px;
    width: 550px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    margin-top: 3rem;
}

.title h1 {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

section {
    position: relative;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .pagination {
    color: rgb(209, 209, 209);
    padding: 0 18%;
}

footer .pagination span {
    padding: 0 5px;
    border-bottom: solid 1px rgb(209, 209, 209);
    font-size: .8rem;
}

footer .pagination .active-p {
    padding: 0 30px 0 5px !important;
    border-bottom: solid 1px var(--primary-color);
    color: var(--primary-color);
}

#paintings {
    min-height: 100vh;
    width: 100%;
    padding: 4rem 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#paintings h1 {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.pictures-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.pictures-section .paint {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-right: 10%;
}

.pictures-section .paint .img {
    width: 100%;
    height: 280px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pictures-section .paint p {
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: end;
    color: var(--text-color);
}

@media (min-width: 767px) {
    #sculptures .content {
        flex-direction: row;
        height: 100vh;
    }

    header {
        display: flex;
    }

    .title {
        justify-content: end;
        align-items: center;
    }

    .title h1 {
        font-size: 100px !important;
    }

    #sculptures .content figure {
        padding: 1rem;
        padding-bottom: 5rem;
        padding-right: 5rem;
    }

    .pictures-section {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    

    #paintings h1 {
        font-size: 90px !important;
        text-align: end !important;
    }
    

}

@media (min-width: 990px) {

    .pictures-section {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    #story {
        grid-template-columns: 2fr 3fr !important;
    }
    
}

#story {
    min-height: 100vh;
    width: 100%;
    padding: 4rem 12%;
    display: grid;
    grid-template-columns: 1fr;
}

#story .img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#story .img img {
    transform: scale(1.8);
}

#story .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 3%;
}

.content h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
}

.content p {
    color: var(--text-color);
    margin: 5% 0;
}

.content h2 {
    margin-top: 20px;
    font-size: 100px;
    font-weight: 700;
    background-image: url(../img/blackvenado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    /* Aplicar la imagen como fondo del texto */
    -webkit-background-clip: text;
    /* Para navegadores basados en WebKit como Safari */
    color: transparent;
    /* Hacer el texto transparente para revelar la imagen de fondo */
    -webkit-text-fill-color: transparent;
}


.color-p {
    color: var(--primary-color)
}